<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span> Posted by {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="meta">
    <p>{{comment}}</p>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
